	@media (orientation: landscape){
		.about,
		.projects{
			height:clamp(100vh, auto, 200vh);
			width:70vw;
			margin-left:15vw;
			margin-right:15vw;
			}
		.para1{
				font-size: 2rem;
			}
		.projectimg1,
		.projectimg2{
			width:40vw;
			border-radius:10px;
			box-shadow: 0 0 1px rgba(255,255,255,1);
			}
		.heading1{
			font-size: clamp(2.5rem, 8vw, 5rem);			
			}
		.prabhlogo{
			width: clamp(7.5rem,20vw,12rem); 
			}
		.desktoplogo{
			width: 8vw;
			}
		.githublogo{
			width: 3rem;
			}
		.projecth1{
			font-size: 4rem;			
			}
		.project1para,
		.project2para{
			font-size: 1.8rem;
			}
		.heartlogo2{
			width:24px;
			}
		}
	@media (orientation: portrait){
		.about,
		.projects{
			width:96vw;
			margin-left: 2vw;
			margin-right: 2vw;
			}
		.para1{
				font-size: 8vw;
			}
		.link1,
		.link2{
			display:none;
			}
		.heading1{
			font-size: 14vw;			
			}
		.prabhlogo{
			width: 25vw; 
			}
		.desktoplogo{
			width: 12vw;
			}
		.githublogo{
			width: 12vw;
			}
		.projecth1{
			font-size: 14vw;			
			}
		.project1para,
		.project2para{
				font-size: 8vw;
			}
		.footer{
				font-size: 3vw;
			}
		.heartlogo2{
			width:5vw;
			}
		}
		body{
			display: grid;
			background: #171717;
			justify-content: center;
			margin: 0;
			overflow-x: hidden;
		}
		.ul{
			color: #ffffff;
			margin: 0;
			padding-left: 0;
			list-style: none;
			display: grid;
			grid-template-rows: auto;
			grid-template-columns: auto auto auto; 
			align-content: center;
		}
		.li{
			font-family: Arial, sans-serif;
			margin-right: 20px;
			font-size: 1.8rem;
			cursor: pointer;
		}
		.projecth1{
			display:grid;
			grid-template-rows: auto;
			grid-template-columns: auto auto;
			justify-content: center; 
			align-items: center; 
			color: white;
			font-family: Arial, sans-serif;
			font-weight: bold;
		}
		.navbar{
			display: grid;
			grid-template-rows: auto;
			grid-template-columns: 2.5fr 1fr;
		}
		.strong{
			color: #f47723;
			text-shadow: -2px -2px 0px #555555;
			font-weight: bold;
		}
		.introduction{
			grid-template-rows: auto auto;
			grid-template-columns: auto;
			height: min-content;
		}
		.link1,
		.link2{
			margin-right: 2vw;
			height: auto;
		}
		.projects{
			text-align: center;
			display: grid;
			grid-template-rows: auto auto;		
			grid-template-columns: auto;		
		}
		.footer{
			text-align: center;
			color: white;
		}
		.heading1{
			text-align: center;
			font-family: Arial, sans-serif;
			color: #ffffff;
			margin-top: 5vh;
		}
		.para1{
			grid-row: 2/3;
			grid-column: 1/2;
			font-family: Arial, sans-serif;
			color: #b4b4b4;
		}
		.project1h2,
		.project2h2{
			display: grid;
			color: white;
			font-family: Arial, sans-serif;
			font-weight: bold;
			font-size: 3rem;
			margin: 0;
			align-content: center;
		}
		.project1para,
		.project2para{
			color: #b4b4b4;
			font-family: Arial, sans-sanrif;
			margin-top: 0;
			text-align: start;
			margin-bottom: 50px;
		}
		.project1about,
		.project2about{
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: 2fr 1fr;
		}
		.project1,
		.project2{
			display: grid;
			grid-template-rows: auto;
			grid-template-columns: auto auto;
			justify-content: center;
		}
		.githublink1,
		.githublink2{
			text-align: center;
		}


